# This workflow will build the sample app and ensure that all functionality works.

name: Build sample app

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  sample-app:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up our JDK environment
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '11'
      - name: Build sample
        run: |
          ./gradlew :affectedmoduledetector:publishToMavenLocal
          cd sample
          ./gradlew build

